body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}


body {
  color: #f8f8f8;
  line-height: 1.6;
  background-color: #f4f4f9; 
  overflow-x: hidden;
  background-image: url(image.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  

  z-index: -1; 
  filter: brightness(80%); 
}


.header {
  text-align: center;
  color: white;
  padding: 100px 20px;
  background: rgba(0, 0, 0, 0.5); 
  border-bottom: 4px solid green;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  font-weight: 300;
}


.details {
  margin: 50px auto;
  padding: 20px;
  max-width: 800px;
  background: white;
  border-radius: 8px;
  color: white;
}

.details h2 {
  color: #33d238;
  text-align: center;
  margin-bottom: 20px;
}

.details ul {
  list-style: none;
  padding: 0;
  color: black;
}

.details li {
  font-size: 1.1rem;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.details li:last-child {
  border-bottom: none;
}


.registration {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 800px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.registration h2 {
  color: #4CAF50;
  margin-bottom: 20px;
}

.registration p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: black;
}

.register-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #4CAF50;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.register-button:hover {
  background-color: #45a049;
}




 
 
 
